<?xml version="1.0" encoding="UTF-8" ?>
<<<<<<<<< Temporary merge branch 1
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssg.wsmt.product.mapper.BrandMapper">


    <!-- getBrandName SELECT 쿼리 -->
    <select id="getBrandName" resultType="java.lang.String" parameterType="int">
        SELECT NAME FROM BRAND WHERE ID = #{brandCodeId}
    </select>

    <!-- getAllBrands SELECT 쿼리 -->
    <select id="getAllBrands" resultType="java.lang.String">
        SELECT NAME FROM BRAND
    </select>
=========
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssg.wsmt.product.mapper.BrandMapper">

        <select id="selectBrandID" resultType="com.ssg.wsmt.product.domain.BrandVO">
            SELECT ID, NAME FROM brand WHERE id = #{id}
        </select>
>>>>>>>>> Temporary merge branch 2

</mapper>
