<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssg.wsmt.product.mapper.ProductMapper">
    <resultMap id="productResultMap" type="com.ssg.wsmt.product.domain.ProductVO">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="status" column="status"/>
        <result property="cost" column="cost"/>
        <result property="price" column="price"/>
        <result property="brandId" column="brand_id"/>
        <result property="brandName" column="brand_name"/>
        <result property="businessOwnerId" column="owner_id"/>
    </resultMap>

    <!--    상품 조회-->
    <select id="select" resultMap="productResultMap" resultType="com.ssg.wsmt.product.domain.ProductVO">
        select id,name, status, cost, price, BRAND_ID, OWNER_ID from PRODUCTS where id = #{id}
    </select>

    <!--    상품 리스트 조회-->
    <select id="selectAll" resultMap="productResultMap" resultType="com.ssg.wsmt.product.domain.ProductVO">
        select id,name, status, cost, price, BRAND_ID, OWNER_ID from PRODUCTS where name like concat('%',#{name},'%' ) order by id;
    </select>



    <!--    상품 등록-->
    <insert id="insert" parameterType="com.ssg.wsmt.product.domain.ProductVO">
        insert  into PRODUCTS(name, status, cost, price, BRAND_ID, OWNER_ID) values ( #{name}, #{status}, #{cost}, #{price}, #{brandId}, #{businessOwnerId})
    </insert>

    <!--    상품 수정-->
    <update id="update" parameterType="com.ssg.wsmt.product.domain.ProductVO">
        update PRODUCTS set name = #{name}, status = #{status}, cost = #{cost}, price =#{price}, BRAND_ID = #{brandId}, OWNER_ID = #{businessOwnerId} where id =#{id}
    </update>


    <!--    상품 삭제-->
    <delete id="delete" >
        delete from PRODUCTS where id = #{id}
    </delete>

</mapper>