<mapper namespace="com.ssg.wsmt.product.mapper.ProductsMapper">

    <!-- productListInventory SELECT 쿼리 -->
    <select id="productListInventory" resultType="com.ssg.wsmt.product.dto.ProductsOutput">
        SELECT
        P.ID,
        P.NAME,
        P.STATUS,
        P.PRICE,
        P.COST,
        P.BRAND_ID,
        P.OWNER_ID,
        B.NAME AS BRAND_NAME
        FROM PRODUCTS P
        JOIN BRAND B ON P.BRAND_ID = B.ID
        ORDER BY P.ID

    </select>

    <!-- createProduct INSERT 쿼리 -->
    <insert id="createProduct" parameterType="com.ssg.wsmt.product.domain.Products">
        INSERT INTO PRODUCTS (NAME, STATUS, COST, PRICE, BRAND_ID, OWNER_ID)
        VALUES (#{name}, #{status.name()}, #{cost}, #{price}, #{brandId}, #{businessOwnerId})
    </insert>

    <!-- updateProduct UPDATE 쿼리 -->
    <update id="updateProduct" parameterType="com.ssg.wsmt.product.domain.Products">
        UPDATE PRODUCTS
        SET NAME = #{name}, COST = #{cost}, PRICE = #{price}
        WHERE ID = #{id}
    </update>

</mapper>
