<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/layout1}">

<head>
    <title>Home2</title>
</head>

<div class="l-navbar" id="navbar">
    <nav class="nav">
        <div>
            <a href="/" class="nav__logo">
                <ion-icon name="menu-outline" class="nav__toggle" id="nav-toggle"></ion-icon>
                <img src="/images/TeamLogo.png" style="width: 100px; height: 80px;">
            </a>
            <div class="nav__list">
                <!-- 사이드바 항목 -->
                <a href="#" class="nav__link active">
                    <ion-icon name="add-circle-outline" class="nav__icon"></ion-icon>
                    <span class="nav_name">상품등록</span>
                </a>

        <div class="col-sm-12 col-xl-6" style="padding-left: 0;">
            <div id="map" class="bg-light rounded h-100 p-4">

            </div>
        </div>

    </div>


    <!-- Footer Start -->
    <div class="container-fluid pt-4 px-4">
        <div class="bg-light rounded-top p-4">
            <div class="row">
                <div class="col-12 col-sm-6 text-center text-sm-start">
                    &copy; <a href="#">2Commerce-Traning-Project by.2Commerce</a>, All Right Reserved.
                </div>
                <div class="col-12 col-sm-6 text-center text-sm-end">
                    <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                    Designed By <a href="https://htmlcodex.com">2Commerce</a>
                    </br>
                    Distributed By <a class="border-bottom" href="https://themewagon.com"
                                      target="_blank">2Commerce</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>