<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/layout1}">

<head>
    <title>창고조회</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <link href="/assets/css/stylesWarehouseListDetail.css" rel="stylesheet">
</head>
<body>
<div layout:fragment="content">
    <script>
        (function ($) {
            $(document).ready(function () {
                var warehouseData = []; // 창고 데이터를 저장할 배열

                // 페이지 로드 시 창고 데이터 가져오기
                $('#warehouse-data tr').each(function () {
                    var type = $(this).find('td:eq(0)').text();
                    var id = $(this).find('td:eq(1)').text();
                    var deliveryCompanyName = $(this).find('td:eq(2)').text();
                    var location = $(this).find('td:eq(3)').text();

                    warehouseData.push({
                        type: type,
                        id: id,
                        deliveryCompanyName: deliveryCompanyName,
                        location: location
                    });
                });

                // 검색창에 자동완성 기능 추가
                $('input[name="keyword"]').autocomplete({
                    source: function (request, response) {
                        var category = $('select[name="type"]').val();
                        var keyword = request.term.toLowerCase();

                        var filteredData = warehouseData.filter(function (item) {
                            if (category === 'id') {
                                return item.id.toLowerCase().includes(keyword);
                            } else if (category === 'location') {
                                return item.location.toLowerCase().includes(keyword);
                            } else if (category === 'type') {
                                return item.type.toLowerCase().includes(keyword);
                            } else if (category === 'deliveryCompanyName') {
                                return item.deliveryCompanyName.toLowerCase().includes(keyword);
                            }
                            return false;
                        });

                        response(filteredData.map(function (item) {
                            if (category === 'id') {
                                return item.id;
                            } else if (category === 'location') {
                                return item.location;
                            } else if (category === 'type') {
                                return item.type;
                            } else if (category === 'deliveryCompanyName') {
                                return item.deliveryCompanyName;
                            }
                            return '';
                        }));
                    },
                    minLength: 1 // 자동완성 표시를 위한 최소 문자 수
                });
            });
        })(jQuery);
    </script>
    <!-- Navbar End -->
    <div class="col-sm-12">
        <form id="searchForm" class="bg-light rounded h-100 p-4" action="/inventory/warehouselist" method="get">
            <input type="hidden" name="size" th:value="${pageRequestDTO.size}">
            <select class="form-select" name="type">
                <option selected>-카테고리-</option>
                <option value="id">-창고번호-</option>
                <option value="location">-주소-</option>
                <option value="type">-창고대분류-</option>
                <option value="deliveryCompanyName">-택배사-</option>
            </select>
            <div class="form-group">
                <input class="form-control border-0" type="search" placeholder="검색"
                       name="keyword" th:value="${pageRequestDTO.keyword}">
            </div>
            <div class="form-group">
                <!-- 기타 입력 필드나 내용을 추가할 수 있습니다. -->
            </div>
            <br>
            <button type="submit" class="btn btn-primary">검색</button>
            <!-- 리셋 및 쿼리 문자열 제거 버튼 -->
            <button type="button" class="btn btn-primary m-2" onclick="resetFormAndQueryString()">지우기</button>
        </form>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">창고조회(클릭하면상세지도와 정보가 나옵니다.)</h6>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col" style="background-color: #acd1ea;">창고대분류</th>
                        <th scope="col" style="background-color: #acd1ea;">창고번호</th>
                        <th scope="col" style="background-color: #acd1ea;">택배사</th>
                        <th scope="col" style="background-color: #acd1ea;">창고주소</th>
                    </tr>
                    </thead>
                    <tbody id="warehouse-data">
                    <tr th:each="w : ${responseDTO.dtoList}" th:data-location="${w.location}" th:data-section-type="${w.sectionType}" onclick="showWarehouseMap(this)">
                        <td th:text="${w.type}"></td>
                        <td th:text="${w.id}"></td>
                        <td th:text="${w.deliveryCompanyName}"></td>
                        <td th:text="${w.location}"></td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <br>
        <div class="col-sm-12 col-xl-6" style="padding-right: 0;">

            <div id="map">

            </div>
        </div>
        <div class="col-sm-12 col-xl-6" style="padding-left: 0; background-color: #F3F6F9;">


            <div class="bg-light rounded h-100 p-4" id="detail">
                <h3 id="detailpage" class="mb-4">창고세부정보</h3>
                <ul class="list-group" id="detailUl">
                    <!-- 상세 정보가 여기에 동적으로 추가됩니다 -->
                </ul>
            </div>
        </div>

    </div>
    <div class="bg-light rounded h-100 p-4" style="padding-right: 0;">
        <div class="btn-toolbar" role="toolbar" style="justify-content: right">
            <div class="btn-group me-2" role="group" aria-label="First group">
                <a th:href="@{/inventory/warehouselist(page=${responseDTO.page - 1}, size=${pageRequestDTO.size}, type=${pageRequestDTO.type}, keyword=${pageRequestDTO.keyword})}"
                   th:class="'btn btn-primary ' + (${responseDTO.prev} ? '' : 'disabled')"
                   th:text="'이전'"></a>

                <a th:href="@{/inventory/warehouselist(page=${num}, size=${pageRequestDTO.size}, type=${pageRequestDTO.type}, keyword=${pageRequestDTO.keyword})}"
                   th:each="num : ${#numbers.sequence(responseDTO.start, responseDTO.end)}"
                   th:class="${responseDTO.page == num} ? 'btn btn-secondary' : 'btn btn-primary'"
                   th:text="${num}"></a>

                <a th:href="@{/inventory/warehouselist(page=${responseDTO.page + 1}, size=${pageRequestDTO.size}, type=${pageRequestDTO.type}, keyword=${pageRequestDTO.keyword})}"
                   th:class="'btn btn-primary ' + (${responseDTO.next} ? '' : 'disabled')"
                   th:text="'다음'"></a>
            </div>
        </div>

    </div>

</div>


</body>