<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/layout1}">

<head>
    <title>Home2</title>
</head>

<body>
<div layout:fragment="content">
<h1> 여기 div 태그에 코드를 넣으시면 됩니다.</h1>
    <div class="col-sm-12 col-xl-6">
        <form class="bg-light rounded h-100 p-4">
            <input class="form-control border-0" type="search" placeholder="Search">
            <br>
            <button type="submit" class="btn btn-primary m-2">Search</button>
        </form>
    </div>
    <!--        <div id="map" style="width:530px;height:400px;"></div>-->
    <!--        <script>-->
    <!--            var container = document.getElementById('map');-->
    <!--            var options = {-->
    <!--                center: new kakao.maps.LatLng(33.450701, 126.570667),-->
    <!--                level: 3-->
    <!--            };-->
    <!--            var map = new kakao.maps.Map(container, options);-->
    <!--        </script>-->
    <div class="row">
        <div class="col-sm-12 col-xl-6" style="padding-right: 0">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">창고조회</h6>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col" style="background-color: #acd1ea;">창고타입</th>
                        <th scope="col" style="background-color: #acd1ea;">창고번호</th>
                        <th scope="col" style="background-color: #acd1ea;">택배사</th>
                        <th scope="col" style="background-color: #acd1ea;">창고주소</th>
                    </tr>
                    </thead>
                    <tbody id="warehouse-data">
                    <tr th:each="w : ${responseDTO.dtoList}" th:data-location="${w.location}" onclick="showWarehouseMap(this)">
                        <td th:text="${w.type}"></td>
                        <td th:text="${w.id}"></td>
                        <td th:text="${w.deliveryId}"></td>
                        <td th:text="${w.location}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-sm-12 col-xl-6" style="padding-left: 0;">
            <div id="map" class="bg-light rounded h-100 p-4">

            </div>
        </div>

    </div>


    <!-- Footer Start -->
    <div class="container-fluid pt-4 px-4">
        <div class="bg-light rounded-top p-4">
            <div class="row">
                <div class="col-12 col-sm-6 text-center text-sm-start">
                    &copy; <a href="#">2Commerce-Traning-Project by.2Commerce</a>, All Right Reserved.
                </div>
                <div class="col-12 col-sm-6 text-center text-sm-end">
                    <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                    Designed By <a href="https://htmlcodex.com">2Commerce</a>
                    </br>
                    Distributed By <a class="border-bottom" href="https://themewagon.com"
                                      target="_blank">2Commerce</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>